.entrance{
    background-image: url(image/izakaya_image.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    color: white;
    background-repeat:no-repeat;
    background-size: cover;
}
.entrance_logo{
    width: 300px;
}
section{
    font-family: sans-serif;
}
img{
    border-radius: 30px;
}
h1{
    font-size: 80px
}
h2{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
h3{
    font-size: 25px;
}
.our {
    padding-left: 30px;
}
img {
    width: 500px;
}
.our2 {
    padding-left: 30px;
    margin-right: 20px;
}
.our3{
    align-items: center;
}
div {
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 10px;
}
th{
    border: 1px solid black;
    padding: 10px;
    background-color:gray;
}
.main{
    padding-left: 30px;
    margin-bottom:150px ;
}
#popup {
    display: none;
}
.popup_open{
    display: block;
    text-align: center;
    font-size: 25px;
    width: 290px;
    font-weight: bold;
    margin-top: 30px;
    border: black;
    border-style: solid;
    border-radius: 30px;
    margin-right:auto; margin-left:auto
}
.popup_open:hover{
    background-color: rgb(194, 194, 194);
}
.popup_overlay{
    display: none;
}
#popup:checked ~ .popup_overlay{
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
}
.popup_window{
    width: 80%;
    height: 80%;
    background-color: white;
    text-align: center;
    margin-left: 10%;
    margin-top: 10vh;
    border-radius: 30px;
}
.popup_close{
    position: absolute;
    top: 11vh;
    right: 11%;
    font-size: 25px;
    font-weight:bold;
}
footer {
    background-color: black;
    color: white;
    text-align: left;
    position: fixed;
    width: 95%;
    border-radius: 30px;
    bottom: 10px;
    right: 2.5%;
    padding-left: 20px;
    opacity: 0.7;
    display: flex;
    box-shadow:0px 0px 15px black;
    align-items: center;
    font-family: sans-serif;
}
.footer_logo{
    width: 90px;
}
.footer_top{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.footer_menu{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 35px;
}
.footer_allergy{
color: white;
text-decoration: none;
font-size: 25px;
margin-left: 35px;
}
h3.menu{
    width: 33.3%;
}
div.menu{
    display: flex;
}
#allergy{
    padding-top: 100px;
    padding-bottom: 70px;
}
.allergy{
    display: flex;
}
.allergy_menu{
    width: 33.3%;
}
@media screen and (min-height:500px){
    .our3{
        display: flex;
    }
}